In [5]:
import pandas as pd
from math import *

In [6]:
ori_data = pd.read_table("延页2井标准.txt", sep="\s+", skiprows=6)
ori_data

,#DEPTH,AC,AZIM,CN,DEN,DEVI,GR,K,KTh,M2R1,...,COAG,COAH,COAN,COAS,COAT,COAW,POW2,RT,RXO,BIT
0,95.075,5.0,-9999.0,-0.700,-9999.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,21.59
1,95.200,5.0,-9999.0,-0.700,-9999.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,21.59
2,95.325,5.0,-9999.0,-0.700,-9999.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,21.59
3,95.450,5.0,-9999.0,-0.700,-9999.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,21.59
4,95.575,5.0,-9999.0,-0.700,-9999.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,21.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20931,2711.450,5.0,-9999.0,-1.614,-9999.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,21.59
20932,2711.575,5.0,-9999.0,-0.700,-9999.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,21.59
20933,2711.700,5.0,-9999.0,-2495.463,-2495.851,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,21.59
20934,2711.825,5.0,-9999.0,26.256,1.502,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,21.59
20935,2711.950,5.0,-9999.0,27.180,2.417,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,21.59

In [65]:
handled_data = ori_data[["#DEPTH", "AC", "DEN"]].round(3)
handled_data = handled_data[
    (handled_data["AC"]>10) & (handled_data["DEN"]>2) & (handled_data["#DEPTH"]>2000)
].reset_index(drop=True)
handled_data

        #DEPTH       AC    DEN
0     2000.075  191.723  2.568
1     2000.200  190.662  2.537
2     2000.325  192.899  2.478
3     2000.450  195.403  2.398
4     2000.575  198.749  2.313
...        ...      ...    ...
5378  2703.075  458.073  2.006
5379  2703.700  210.735  2.008
5380  2703.825  152.025  2.029
5381  2703.950  139.649  2.048
5382  2704.075  139.704  2.058

[5383 rows x 3 columns]

In [58]:
handled_data["Vp0"] = 1000000/handled_data["AC"]

### 算例

In [59]:
Vp0 = 1000000/333.4776903
Vp90 = (0.7109*(Vp0/1000)+1.6023)*1000
Vp45 = (0.9362*(Vp0/1000)+0.5516)*1000
ts = 333.4776903/(1 - 1.15 * (1/2.348+(1/2.348)**3) / e**(1/2.348))**1.5
Vs0 = 1947.8*log(Vp0)-13746
Vs90 = (0.6479*(Vs0/1000)+1.0489)*1000
C33=(2.348 * Vp0**2)/1000000
C44=(2.348 * Vs0**2)/1000000
C11=(2.348 * Vp90**2)/1000000
C66=(2.348 * Vs90**2)/1000000
C12=C11-2*C66
C13= - C44 + ( (4*(2348**2)*(Vp45**4)*(10**-18)) - 2*2348*(Vp45**2)*(10**-9)*(C11+C33+2*C44) + (C11+C44)*(C33+C44) )**0.5
Ev = C33 - 2*C13**2/(C11+C12)
Eh = (C11-C12) * (C11*C33-2*C13**2+C13*C12) / (C11*C33-C13**2)
Vv = C13 / (C11 + C12)
Vh = (C12*C33 - C13**2) / (C11*C33 - C13**2)
Pp = 1.03 * 9.8 * 3450 / 1000 * 1.18
Pv = 2406*9.8*3450/1000000 
PH_iso = Eh*Vv*(Pv-1*Pp)/(Ev*(1-Vh)) + 1*Pp + Eh*0.96/(1-Vh*Vh) + Eh*Vh*0.35/(1-Vh*Vh)
Ph_iso = Eh*Vv*(Pv-1*Pp)/(Ev*(1-Vh)) + 1*Pp + Eh*0.35/(1-Vh*Vh) + Eh*Vh*0.96/(1-Vh*Vh)
PH_aniso = C13*(Pv-1*Pp)/C33 + 1*Pp + (C12-C13**2/C33)*0.35 + (C11 - C13**2/C33)*0.96
Ph_aniso = C13*(Pv-1*Pp)/C33 + 1*Pp + (C11-C13**2/C33)*0.35 + (C12 - C13**2/C33)*0.96
C11,C12,C13,C33,C44,C66,PH_iso,Ph_iso,PH_aniso,Ph_aniso

(32.738937595410114,
 9.045821331979827,
 9.058836321721978,
 21.113708574565965,
 8.018311820470215,
 11.846558131715144,
 80.76469427913136,
 68.50658731190055,
 87.86758082278553,
 73.41477990209304)

### 实例

In [60]:
depth = handled_data["#DEPTH"]
AC = handled_data["AC"]
DEN = handled_data["DEN"]
Vp0 = 1000000/handled_data["AC"]
Vp90 = (0.7109*(Vp0/1000)+1.6023)*1000
Vp45 = (0.9362*(Vp0/1000)+0.5516)*1000
ts = AC/(1 - 1.15 * (1/DEN+(1/2.348)**3) / e**(1/DEN))**1.5
Vs0 = 1000000/ts
Vs90 = (0.6479*(Vs0/1000)+1.0489)*1000
C33=(DEN * Vp0**2)/1000000
C44=(DEN * Vs0**2)/1000000
C11=(DEN * Vp90**2)/1000000
C66=(DEN * Vs90**2)/1000000
C12=C11-2*C66
C13= - C44 + ( (4*(2348**2)*(Vp45**4)*(10**-18)) - 2*2348*(Vp45**2)*(10**-9)*(C11+C33+2*C44) + (C11+C44)*(C33+C44) )**0.5


a = pd.DataFrame(list(zip(depth,AC, den,Vp0, Vp90, Vp45, Vs0, Vs90, C33,C44,C11,C66,C12,C13)),
                 columns=["depth","AC", "den","Vp0", "Vp90","Vp45" , "Vs0", "Vs90", "C33","C44","C11","C66","C12","C13"]).round(3)
a

,depth,AC,den,Vp0,Vp90,Vp45,Vs0,Vs90,C33,C44,C11,C66,C12,C13
0,2000.075,191.723,2.014,5215.858,5310.254,5434.687,2648.248,2764.700,69.863,18.010,72.415,19.629,33.157,31.525
1,2000.200,190.662,2.006,5244.884,5330.888,5461.860,2650.670,2766.269,69.790,17.825,72.097,19.414,33.270,33.484
2,2000.325,192.899,2.034,5184.060,5287.648,5404.917,2596.463,2731.148,66.595,16.706,69.283,18.484,32.315,35.817
3,2000.450,195.403,2.047,5117.629,5240.422,5342.724,2531.165,2688.842,62.804,15.364,65.854,17.337,31.179,38.969
4,2000.575,198.749,2.044,5031.472,5179.173,5262.064,2454.367,2639.084,58.555,13.933,62.044,16.110,29.825,41.836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5378,2703.075,458.073,2.635,2183.058,3154.236,2595.379,1009.027,1702.649,9.560,2.042,19.958,5.815,8.327,11.847
5379,2703.700,210.735,2.640,4745.296,4975.731,4994.146,2194.125,2470.474,45.216,9.667,49.714,12.255,25.203,50.284
5380,2703.825,152.025,2.648,6577.865,6278.505,6709.798,3053.249,3027.100,87.791,18.915,79.982,18.592,42.798,89.633
5381,2703.950,139.649,2.660,7160.810,6692.920,7255.551,3335.413,3209.914,105.016,22.784,91.741,21.102,49.537,103.091
5382,2704.075,139.704,2.671,7157.991,6690.916,7252.911,3340.181,3213.003,105.445,22.961,92.133,21.246,49.642,102.144

In [66]:
Ev = C33 - 2*C13**2/(C11+C12)
Ev
Eh = (C11-C12) * (C11*C33-2*C13**2+C13*C12) / (C11*C33-C13**2)
Eh
#Vv = C13 / (C11 + C12)
#Vh = (C12*C33 - C13**2) / (C11*C33 - C13**2)
#Pp = 1.03 * 9.8 * depth / 1000 
#Pv = DEN*9.8*depth/1000
#PH_iso = Eh*Vv*(Pv-1*Pp)/(Ev*(1-Vh)) + 1*Pp + Eh*0.96/(1-Vh*Vh) + Eh*Vh*0.35/(1-Vh*Vh)
#Ph_iso = Eh*Vv*(Pv-1*Pp)/(Ev*(1-Vh)) + 1*Pp + Eh*0.35/(1-Vh*Vh) + Eh*Vh*0.96/(1-Vh*Vh)
#PH_aniso = C13*(Pv-1*Pp)/C33 + 1*Pp + (C12-C13**2/C33)*0.35 + (C11 - C13**2/C33)*0.96
#Ph_aniso = C13*(Pv-1*Pp)/C33 + 1*Pp + (C11-C13**2/C33)*0.35 + (C12 - C13**2/C33)*0.96

#PH_iso,Ph_iso,PH_aniso,Ph_aniso

0        39.754167
1        38.756338
2        35.575641
3        30.653291
4        23.619865
           ...
5378      2.015711
5379    134.646562
5380    191.382375
5381    276.729552
5382    359.689350
Length: 5383, dtype: float64